# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

#RKE  
*.rkestate

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Branch switching
generated/

#VS Code
.factorypath
.project
